{% load static %}

<html>

<head>
    <title>Over Engineered It{% block page_name %}{% endblock page_name%}</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NSZJKPR');</script>
    <!-- End Google Tag Manager -->

    <link media="screen, projection" rel="stylesheet" href="{% static 'overengineeredsite.css' %}">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSZJKPR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <branding><div id="site_title">OEI</div></branding>
        <nav_items>
            <div id="about_me"><a href="/">About Me</a></div>
            <div id="resume_link"><a href="/resume">Resume</a></div>
        </nav_items>
    </nav>

    <content id="content">
        {% block content %}{% endblock content %}
    </content>

    <footer>
        <hr />
        <copyright>copyright 2022, All Rights held by Peenak Inamdar.</copyright>
    </footer>
</body>

</html>