{% extends "base.html" %}
{% load static %}

{% block page_name %} | Peenak Inamdar's Resume{% endblock page_name %}

{% block content %}

<section><h2>Work Experience</h2></section>
<job_positions>
    <ul>
        <job_position>
            <job_title>Senior Director of Engineering</job_title>, <company>The Muse</company>, <dates>
                <start_date>October 2018</start_date> &mdash; <end_date>July 2022</end_date>
            </dates>
            <desscription>
                <p>
                    <responsibilities>
                        <ul>
                            Responsibilities:
                            <li>Managed an engineering team of 16 with five direct reports, including multiple
                                managers.</li>
                            <li>Defined the technical strategy, team structure, and staffing to execute the
                                product
                                strategy.</li>
                            <li>Rebuilt the team’s agile processes in partnership with the product management
                                team.
                            </li>
                            <li>Recruiting, hiring for new openings in the engineering team, as well as
                                transitioning folks out.</li>
                        </ul>
                    </responsibilities>
                    <achivemennts>
                        <ul>
                            Achievements:
                            <li>Rearchitected the .com site to a set of stateless web services (Next.js) powered
                                by
                                RESTful APIs (python and CraftCMS) from a Tornado-based monolithic application.
                            </li>
                            <ul>
                                <li>Migrated the application initially designed for Heroku to a distributed
                                    application hosted in AWS.</li>
                                <li>Reduced monthly AWS spend from $20k to $12k</li>
                            </ul>
                            <li>Directed rebuilding the client portal from a homegrown application framework to Django.
                            </li>
                            <li>Partnered with our head of product to realign the application efforts into three
                                teams focused on growth, job marketplace mechanics, and client tools.</li>
                            <li>Over that time, was able to:
                                <ul>
                                    <li>Implement an experimentation strategy.</li>
                                    <li>Increase readership to a company high of over 7 million monthly unique
                                        visitors from slightly over 5 million. </li>
                                    <li>Saw a 90% growth in job applications by improving the site SEO and user
                                        conversion rates.</li>
                                    <li>Launched a new onboarding tool and portal for clients, reducing client
                                        onboarding time by 60% while supporting account management retention
                                        objectives of over 90%.</li>
                                </ul>
                            </li>
                        </ul>
                    </achivemennts>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Associate Director, Technology Management</job_title>, <company>Ogilvy, Inc</company>,
            <dates>
                <start_date>August 2017</start_date> &mdash; <end_date>October 2018</end_date>
            </dates><br />
            <desscription>
                <p>
                    <responsibilities>
                        <ul>
                            <li>Led technology teams on campaign-based projects by working closely with creative
                                leads and campaign producers to ensure successfully integrated and delivered
                                projects.</li>
                            <li>Directed 2-4 concurrent projects with teams of 2-5 technologists.</li>
                            <li>Clients included: IBM (https://www.ibm.com), Lupus Foundation
                                (http://befiercetakecontrol.org/), FEMA, and USAID.</li>
                        </ul>
                    </responsibilities>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Sr. Engineering Manager, Monetization</job_title>, <company>SoundCloud</company>, <dates>
                <start_date>May 2017</start_date> &mdash; <end_date>July 2017</end_date>
            </dates><br />
            <desscription>
                <p>
                    <responsibilities>
                        <ul>
                            <li>Supported the NYC engineering team's wind-down and hand-off of all active
                                development to Berlin.</li>
                            <li>Led the Payments and Subscriptions team focused on the user acquisition funnel
                                and
                                user features on our mobile platforms, iOS and Android. Managed a group of 5
                                mobile
                                engineers.</li>
                            <li>Worked with product leads to organize and build a 3-month roadmap and identify
                                and
                                implement team process improvements, including surfacing and scheduling
                                technical
                                debt.</li>
                        </ul>
                    </responsibilities>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Engineering Manager - Pattern</job_title>, <company>Etsy</company>, <dates>
                <start_date>January 2017</start_date> &mdash; <end_date>May 2017</end_date>
            </dates><br />
            <desscription>
                <p>
                    <responsibilities>
                        <ul>
                            <li>Partnered with product managers, designers, and engineers to prioritize, plan,
                                staff, and schedule work.</li>
                            <li>Co-managed a team of 11 full-stack developers with three direct reports.</li>
                            <li>Led an initiative with the creative, product, and marketing leads to migrate
                                specs
                                to utilize more user-centric practices such as user stories.</li>
                        </ul>
                    </responsibilities>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Director of Engineering</job_title>, <company>Huge, Inc</company>, <dates>
                <start_date>August 2011</start_date> &mdash; <end_date>January 2017</end_date>
            </dates><br />
            <desscription>
                <p>
                    <responsibilities>
                        <ul>
                            <li>Directed technology teams on client engagements by working closely with other
                                leads
                                to ensure successfully integrated and delivered projects. Served as the primary
                                technical contact point for clients.</li>
                            <li>Identified and managed third-party vendor relationships when designing software
                                solutions.</li>
                            <li>Achievements included developing a new engineer skills matrix for ongoing career
                                development and goal setting, managing a new technologies lab, and creating a
                                software architecture training course.</li>
                            <li>Managed and mentored 20+ engineers across several disciplines, including
                                client-side
                                development (web and mobile), server-side development, DevOps, and quality
                                assurance
                                roles.</li>
                            <li>Clients included: Walmart (https://careers.walmart.com/), Google
                                (https://blog.google and https://www.thinkwithgoogle.com), and Royal Caribbean
                                (http://www.royalcaribbean.com). <br /> Additional information is available upon
                                request.</li>
                        </ul>
                    </responsibilities>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Solutions Architect</job_title>, <company>Wireless Generation</company>, <dates>
                <start_date>January 2009</start_date> &mdash; <end_date>July 2011</end_date>
            </dates><br />
            <desscription>
                <p>
                    <ul>

                        Software architect and technology subject matter expert (SME) for consultative
                        engagements at a
                        K-12 software and solutions firm. </ul>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Software Architect</job_title>, <company>McGraw-Hill Education</company>, <dates>
                <start_date>June 2004</start_date> &mdash; <end_date>September 2008</end_date>
            </dates><br />
            <desscription>
                <p>
                    <ul>

                        Architect for a suite of K-12 reporting products for The Grow Network business unit,
                        which
                        supported state-level educational assessment student reporting.</ul>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Software Developer</job_title>, <company>TradeCard, Inc.</company>, <dates>
                <start_date>May 2001</start_date> &mdash; <end_date>May 2004</end_date>
            </dates><br />
            <desscription>
                <p>
                    <ul>

                        Worked as a developer on a web-based financial supply chain management application.</ul>
                </p>
            </desscription>
        </job_position>
        <job_position>
            <job_title>Software Developer</job_title>, <company>Quidnunc, Ltd.</company>, <dates>
                <start_date>June 2000</start_date> &mdash; <end_date>April 2001</end_date>
            </dates><br />
            <desscription>
                <p>
                    <ul>

                        Worked as a developer on various client projects for a London-based software
                        consultancy.</ul>
                </p>
            </desscription>
        </job_position>
    </ul>
</job_positions>
<section><h2>Education</h2></section>
<ul>
    B.S. Computer Science, University of Rochester, received May 2000 with honors. Dean's List. Concentrations
    in Systems and AI. Additional coursework in Economics and Studio Arts (photography). 
</ul>

<section><h2>Papers and Presentations</h2></section>
<ul>
    <li><em>Introduction to Programming Robots with Huge</em>, Creative Mornings, New York, NY, October 16th, 2015.
    </li>
    <li><em>Introduction to Programming Robots</em>, SXSW Interactive Festival 2015, Austin, TX, (workshop accepted).
    </li>
</ul>

<section><h2>Alternate Versions</h2></section>
<versions>
    <version><a href="{% static 'Peenak_Inamdar_Resume.pdf' %}">PDF</a></version>
    <version><a href="https://docs.google.com/document/d/1ivjXt8QnoDttycUFzx3JwWJKdB9RbtzHRd61YDeVAwg/edit?usp=sharing">Google Docs</a></version>
    <version><a href="https://www.linkedin.com/in/peenakinamdar/">LinkedIn</a></version>
</versions>

{% endblock content %}
